.btn-primary{
	background: $orange;
	color:$white;
	border-color: $orange;
	border-radius:$border-radius;
	@include hover-focus-active {
		background: $success!important;
		color:$white;
		outline:none;
		box-shadow:none!important;
		border-color: $orange!important;
	}
}
.btn-link {
	font-weight: $font-weight-bold;
	color:$success;
}	
.btn-1 {
    padding: ($spacer * .7) ($spacer * 2);
}